<html>
<head>
  <title>Memebot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head> 
<body> 
<header class="w3-container w3-xlarge">
    <a class="w3-left w3-white w3-xxxlarge w3-padding-24">MeMeBoT</a>
    <div class = "icon">
      <a href="https://www.facebook.com/MemeBot-331078540726047/" class="w3-right w3-button w3-white w3-padding-24">
        <i class="fab fa-facebook fa-3x" aria-hidden="true"></i></a>
      
      <a href="https://www.messenger.com/t/331078540726047"class="w3-right w3-button w3-white w3-padding-24">
        <i class="fab fa-facebook-messenger" style = "font-size: 73px;"></i></a>

      <a href="https://github.com/kevin-mao/MemeBot" class="w3-right w3-button w3-white w3-padding-24">
        <i class="fab fa-github-square" style = "font-size: 73px;"></i> </a>
    </div>
    
</header>
<div class="w3-row">
  
    <div class="w3-half">
      <img src="https://i.imgflip.com/ueehl.jpg" style="width:100%">
      <img src="https://memegenerator.net/img/instances/500x/75974657/me-write-beautiful-code-inner-me-make-program-non-human-readable.jpg" style="width:100%">
      
    </div>
    <div class="w3-half">
      <img src="https://avatars0.githubusercontent.com/u/17444754?s=460&v=4" style="width:100%">
      <img src="https://i.imgflip.com/1p2mk0.jpg" style="width:100%">
    </div>

  </div>

</body>
</html>

